body {
    background-color: #807d7d;
}

h1 {
    color: whitesmoke;
}

footer {
    position: absolute;
    bottom: 0;
    text-align: center;
    padding: 3px;
    color: white;
    width: 100%;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-header {
    padding: 2px 16px;
    background-color: white;
    color: #696868;
  }
  
/* Modal Body */
.modal-body {
    padding: 2px 16px;
}

/* Modal Footer */
.modal-footer {
    padding: 2px 16px;
    background-color: white;
    color: white;
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

/* For high resolution screen sizes */
@media (min-width: 1500px) {
    body {
        font-size: 1.5rem;
    }
    .display-6 {
        font-size: 3rem;
    }
    .btn {
        font-size: 1.5rem;
    }
}

/* For laptop screen sizes */
@media (min-width: 750px) and (max-width: 1500px) {
    body {
        font-size: 1.1rem;
    }
    .display-6 {
        font-size: 2rem;
    }
    .card {
        width: 51%;
    }
    .btn {
        font-size: 1.1rem;
  
    }
}

/* For mobile */
@media (max-width: 750px) {
    body {
        font-size: 0.9rem;
    }
    .display-6 {
        font-size: 1.5rem;
    }
    .card {
        width: 80%;
    }
    .btn {
        font-size: 1.0rem;
  
    }
}